/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2018, 12:11:28 PM
    Author     : Jakub
*/
@mixin small-box($color) {
 
    .small-box-#{$color}
    {
        @extend %sizeOfSmallBox;
        color: $color;
    }
}
@mixin horizontalGradient($startColor: #FFC, $endColor: #FFA) {
    background-color: $endColor;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from($startColor), to($endColor));
    background-image: -webkit-linear-gradient(left, $startColor, $endColor);
    background-image: -moz-linear-gradient(left, $startColor, $endColor);
    background-image: -ms-linear-gradient(left, $startColor, $endColor);
    background-image: -o-linear-gradient(left, $startColor, $endColor);
    background-image: linear-gradient(left, $startColor, $endColor);
    background-repeat: repeat-x;
}
@mixin rowGenerator($number_of_items, $margin) {
    width: ((100% -(($number_of_items - 1)*$margin))/$number_of_items);
    margin-right: $margin;
    margin-bottom: $margin;
    &:nth-child(n)
    {
        margin-right: $margin;
    }
    &:nth-child(#{$number_of_items}n)
    {
        margin-right: 0px;
    }
}    
