@import "_mixins.scss";
@import "_placeholders.scss";
@import "_functions.scss";
nav {
    width: 734px;
    @extend %center;
    ul{
    margin: 0;
    padding: 0;
    list-style: none;
    }
    li{
        display: block;
        float: left;
        li{
            display: none;
            float: none;     
            a:hover{ //kiedy ktoś najedzie na link (a) zawarty wewnatrz li wewnątrz li
                background-color: $link-nav-bg-color-hover;
            }
        }
        ul{
            position: absolute; //pozycjonowanie absolutne nie zajmuje miejsca - nie ma po rozsunieciu menu przesuniecia w dól wszystkiego
        }
        &:hover li{ // tak odnosimy się poprzez & do wyższego li i kolejno po najechaniu na nie jeżeli jest w nim li, to wyświetli sie jako block
            display: block;
        }
    }
    a{
        display: block;
        padding: 6px 30px;
        text-decoration: none;
        background-color: $link-nav-bg-color-default;
        color: autoContrast($link-nav-bg-color-default, $link-color);
        //color: lighten($link-color, 15%); //zastosowanie funkcji lighten - czyli rozjaśnienie o wskazany procent (tutaj 15%)
        &:hover{ //odwołujemy sie do rodzica, czyli do anchor i po najechaniu na anchor zmieniamy coś
            color: $link-nav-color-hover;
        }
    }
}

