/* 
    Created on : Feb 24, 2018, 7:04:41 AM
    Author     : Jakub
*/
//COLORS
$color-orange: orange; //Podczas nazywania zmiennych sposujemy camelCase bądź "-" odzielające elementy nazwy
$color-red: red; 
$color-white: white;

//COLORS OF THE ELEMENTS
$header-color: $color-red;
$link-color: $color-orange;

//color of the gtadients
$startColor: white;
$endColor: gray;

//SIZE OF THE ELEMENTS
$sizeOfHeader: 20px;
$header-height: 150px;

//NAVIGATION
$link-nav-color-hover: $color-white; //najpierw w nazwie link, bo podczas szukania wyskoczy wszystko związane z liniem - łatwiej szukać
$link-nav-bg-color-default: green;
$link-nav-bg-color-hover: blue;