/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2018, 2:13:56 PM
    Author     : Jakub
*/
@import "_variables.scss";
@import "_nav.scss";
@import "_mixins.scss";
@import "_placeholders.scss";
@import "_functions.scss";

#header{
    height: $header-height;
}
h1{
    font-size: $sizeOfHeader;
    color: $header-color;
}
h2{
    font-size: $sizeOfHeader - 5px;
    color: $header-color;
}
a{
    color: $link-color;
}
.akapit{
    width: 200px;
    height: 50px;
    @extend %textOverflow;
    @include horizontalGradient(#FFC, #FF0);
    clear: left; //czyści floating
    @extend %center;
    font-size: nazwa_funkcji(10px);
}
.image{
    @include rowGenerator(6, 2%);
    float: left; // sprawia że obrazki nie sa jeden pod drugim, a obok siebie
    background-color: #ececec;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; 
    @media (max-width: 640px)
    {
        @include rowGenerator(2, 3%);
    }
    @media (min-width: 641px) and (max-width: 768px)
    {
        @include rowGenerator(3, 2%);
    }
/*    @media (min-width: 768px)
    {
        @include rowGenerator(6, 2%);   
    }*/
    img{
        width: 100%; //dzięki temu obrazek dostosowuje się do szerokości diva (o klasie image), w którym sie znajduje
    }
    .img_description{
        display: inline-block;
        color: #555;
    }
}
