/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 23, 2018, 2:13:56 PM
    Author     : Jakub
*/
/* 
    Created on : Feb 24, 2018, 7:04:41 AM
    Author     : Jakub
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2018, 12:11:28 PM
    Author     : Jakub
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2018, 5:20:59 PM
    Author     : Jakub
*/
nav, .akapit {
  display: block;
  margin: 0px auto;
}

.akapit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2018, 5:18:56 PM
    Author     : Jakub
*/
nav {
  width: 734px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: block;
  float: left;
}
nav li li {
  display: none;
  float: none;
}
nav li li a:hover {
  background-color: blue;
}
nav li ul {
  position: absolute;
}
nav li:hover li {
  display: block;
}
nav a {
  display: block;
  padding: 6px 30px;
  text-decoration: none;
  background-color: teal;
  color: #ffdb99;
}
nav a:hover {
  color: white;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2018, 12:11:28 PM
    Author     : Jakub
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 28, 2018, 5:20:59 PM
    Author     : Jakub
*/
nav, .akapit {
  display: block;
  margin: 0px auto;
}

.akapit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 1, 2018, 5:18:56 PM
    Author     : Jakub
*/
#header {
  height: 150px;
}

h1 {
  font-size: 20px;
  color: red;
}

h2 {
  font-size: 15px;
  color: red;
}

a {
  color: orange;
}

.akapit {
  width: 200px;
  height: 50px;
  background-color: #FF0;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#FFC), to(#FF0));
  background-image: -webkit-linear-gradient(left, #FFC, #FF0);
  background-image: -moz-linear-gradient(left, #FFC, #FF0);
  background-image: -ms-linear-gradient(left, #FFC, #FF0);
  background-image: -o-linear-gradient(left, #FFC, #FF0);
  background-image: linear-gradient(left, #FFC, #FF0);
  background-repeat: repeat-x;
  clear: left;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
